.button-inactive {
  display: none;
}

.info-hidden {
  display: none;
}

@media only screen and (min-width: 950px) {
  .movile-link {
    display: none;
  }

  .pokemon-inactive {
    width: 70%;
  }

  .video-zone-active {
    position: relative;
    right: 50%;
    top: 5%;
    z-index: 9999999;
  }
  .pokemon-active {
    position: absolute;
    width: 100%;
    z-index: 9999999;
  }

  .info-hidden {
    display: none;
  }

  .button-inactive {
    display: none;
  }

  .button-active {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10%;
    left: 0;
    background-color: chartreuse;
    color: black;
    font-weight: 200;
    font-size: x-large;
    z-index: 99999999999999999;

    &:hover {
      background-color: transparent;
      color: chartreuse;
    }
  }

  .flymate-inactive {
    width: 70%;
  }

  .flymate-active {
    position: absolute;
    width: 100%;
    z-index: 9999999;
    top: 5%;
  }
}
